body{display: flex;}
#scroll{
    height: 70vh;
    width: 25vw;
    overflow-y: scroll;
    padding-right: 20px;
}
#scroll.deco::-webkit-scrollbar{width: 15px;}
#scroll.deco::-webkit-scrollbar-track{
    border-radius: 10px;
    background: skyblue;
}
#main{
    width: 60vw;
    height: 50vh;
}
ul{
    display: flex;
    flex-direction: column;
}
button{
    border: 0;
    height: 30px;
}
button:nth-child(odd){background: pink;}
button:nth-child(even){background: lightpink;}
table{
    width: 60vw;
    height: 50vh;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}
td, th{
    padding: 0 auto;
    width: 33%;
    height: 30px;
    border: 2;
    
}
.hid{
    color: gray;
    background-color: gray;
}
